.userProfileFormTitle {
    color: #20272E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}
.mainRegistrationForm {
    max-width: 576px;
    font-family: var(--font-family);
    font-weight: var(--font-pre-bold);

}
.formInput {
    width: 100%;
    margin-bottom: 24px;

}
.inline {
    max-width: 176px;
    margin-bottom: 24px;

}
.userNameArea {
    display: flex;
    justify-content: space-between;
}
.formStepper {
    position: absolute;
    bottom: 0;
    margin-bottom: 24px;
    background-repeat: 24px;
    width: calc(100% - var(--sideBar-width) - 48px);
    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.formStepper__btn {
    font-size: 12px;
    font-family: var(--font-family);
    font-weight: var(--font-pre-bold);
}
.nextBtn {
    border-radius: 20px;
    background: #5E6BF6;
}
.prevBtn {
    border: none;
    color: #6D7895;
    & svg {
        transform: scale(2);
    }
}
