.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    box-shadow:inset 0px -15px 10px -15px var(--inverted-border-shadow-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
}

.mainLink {
    margin-right:30px;
}
.logo {
    display: flex;
    margin-left: 200px;
}
.logoText {
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 10px;
    color: var(--secondary-color);
}
