.pageWrapper {
    margin-left: 120px;
    margin-top: 60px;
    margin-right: 100px;
    // display: flex;
    // flex-direction: column;
}
.orderTitle {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.orderTitle >h1 {
   font-size:2rem;
   margin: 0;
}
.orderTitle >button {
    margin-right: 20px;
}