.pageWrapper {
    margin-left: 120px;
    margin-top: 60px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}
.productTitle {
    margin-bottom: 40px;
    display: flex;
    align-items: center;

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    & >h1 {
        font-size:2rem;
        margin: 0; 
    }
    & >button {
        margin-right: 20px;
    }
}

